.main-nav__wrapper {
  width: 100%;

  @media (max-width: $width-desktop) {
    background-color: $background-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    z-index: 5;

    &--opened {
      display: block;
    }

    &--closed {
      display: none;
    }
  }
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.main-nav__nav-list {
  width: 58%;
  max-width: 1550px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $width-desktop) {
    width: 100%;
    flex-grow: 2;
    flex-direction: column;
  }
}

.main-nav__logo {
  cursor: pointer;
  @media (max-width: $width-desktop) {
    svg {
      width: 125px;
      height: 30px;
    }
  }
}

.main-nav__logo {
  @media (max-width: $width-desktop) {
    margin-right: auto;
    display: block;
    margin-top: 22px;
    margin-left: 21px;
    padding: 0;
  }

  @media (max-width: $width-laptop) {
    margin-top: 21px;
    margin-left: 19px;
  }
}

.main-nav__toggle {
  display: none;
  @media (max-width: $width-laptop) {
    border: none;
    background-color: transparent;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-nav__toggle-list {
  display: none;

  @media (max-width: $width-laptop) {
    border: none;
    background-color: transparent;
    width: 50px;
    height: 52px;
    display: block;
    margin-left: auto;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }
}


                                                                                                                                    .marquee {
                                                                                                                                          margin: 0 auto;
                                                                                                                                          white-space: nowrap;
                                                                                                                                          overflow: hidden;
                                                                                                                                          position: absolute;
                                                                                                                                        }
