.site-list {
  @include list-refresh;
  margin-left: auto;

  @media (max-width: $width-desktop) {
    border-bottom: none;
    box-sizing: border-box;
    margin: 0;
    padding: 14% 0 1%;
  }

  @media (max-width: $width-laptop) {
    padding: 14.3% 0 32%;
  }

  a {
    @include text-sets(20px, 23px);
    flex-shrink: 0;
    padding: 32px 20px;
    cursor: pointer;
    color: #192632;

    &:hover,
    &:focus,
    &:active {
      background-color: $red;
      color: $white;
    }
  }

  &--video {
    a {
      color: $white;

      &:hover,
      &:focus,
      &:active {
        background-color: $white;
        color: $red;
      }
    }

  }

  .site-list__item {


    @media (max-width: $width-desktop) {
      @include text-sets(20px, 28px, 400);
      position: relative;
      z-index: 5;
      margin-bottom: 9%;

      a {
        display: flex;
        color: #48494d;
        background-color: #e5e5e5;

        @include set-hover(#48494d);
        padding: 17px 11vw 17px 16px;
        box-sizing: border-box;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url("../img/arrow-right.svg");
        background-repeat: no-repeat;
        width: 10px;
        height: 15px;
        bottom: 0;
        left: 90%;
        right: 0;
        z-index: 1;
        top: 37%;
      }

      &:hover,
      &:focus {
        &::after {
          opacity: 0.7;
        }
      }

      &:active {
        &::after {
          opacity: 0.3;
        }
      }
    }
  }
}
