$background-color: #f1e7d4;
$width-laptop: 767px;
$width-desktop: 1023px;
$width-mobile: 320px;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
$button-color: #0ad9c6;
$red: #fc0000;
$white: #f1f1f1;
$width-template: 1366px;
